<!DOCTYPE html>
<html>
  <head>
    <title>Tmap API Form</title>
  </head>
  <body>
    <h1>Tmap API Form</h1>
    <form action="/" method="post">
      <label for="start_lat">Start Latitude:</label>
      <input type="text" id="start_lat" name="start_lat" /><br />
      <label for="start_lon">Start Longitude:</label>
      <input type="text" id="start_lon" name="start_lon" /><br />
      <label for="end_lat">End Latitude:</label>
      <input type="text" id="end_lat" name="end_lat" /><br />
      <label for="end_lon">End Longitude:</label>
      <input type="text" id="end_lon" name="end_lon" /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
