<!-- //#12 T-Map appkey = 5RB8KXlDuB6uLZGhugCqS9OJMViZ73P93dRPbphu -->
<!--  -->
<!--  -->
<!--  -->
<!-- 위치 송신 -->
<!-- //#12 (Driver 입장) 사용자의 실시간 위치를 html에서 얻어 Flask로 보내고, Flask에서는 실시간 위치 데이터를 RabbitMQ로 송신 -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Publisher - 배달 기사 화면</title>
    <!-- TMAP API 스크립트 추가 -->
    <script src="https://apis.openapi.sk.com/tmap/vectorjs?version=1&appKey=5RB8KXlDuB6uLZGhugCqS9OJMViZ73P93dRPbphu"></script>
    <style>
      #map_div {
        width: 100%;
        height: 500px;
      }
    </style>
  </head>
  <body>
    <h1>Publisher - 배달 기사 화면(위치를 RabbitMQ로 송신)</h1>
    <div id="map_div"></div>

    <script>
      var map;
      // RabbitMQ로 위치 데이터 송신
      function sendDataToProducer(lat, lng) {
        var xhr = new XMLHttpRequest();
        // Assuming the Node.js server is on localhost and port 3000
        xhr.open("POST", "http://localhost:3000/send_location", true);
        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xhr.send(JSON.stringify({ latitude: lat, longitude: lng }));
      }

      // function sendLocationToFlask(latitude, longitude) {
      //   fetch("/sendData", {
      //     method: "POST",
      //     headers: {
      //       "Content-Type": "application/json",
      //     },
      //     body: JSON.stringify({
      //       latitude: latitude,
      //       longitude: longitude,
      //     }),
      //   })
      //     .then((response) => response.text())
      //     .then((data) => console.log(data))
      //     .catch((error) => console.error("Error:", error));
      // }

      function getUserPos() {
        navigator.geolocation.getCurrentPosition(function (position) {
          var userLocation = new Tmapv3.LatLng(
            position.coords.latitude,
            position.coords.longitude
          );
          var marker = new Tmapv3.Marker({
            position: userLocation,
            map: map,
          });
          map.setCenter(userLocation);
          console.log("얻은 위치 데이터: ", userLocation);

          // 현재 위치를 Flask로 송신
          sendDataToProducer(
            position.coords.latitude,
            position.coords.longitude
          );
        });
      }
      function initTmap() {
        map = new Tmapv3.Map("map_div", {
          center: new Tmapv3.LatLng(37.5665, 126.978), // 서울을 기준으로 초기화
          width: "100%",
          height: "800px",
          zoom: 16, // 초기 줌 레벨
        });

        // 사용자 위치 받아오기
        if (navigator.geolocation) {
          // #11 3초마다 사용자 위치 받아서 console창에 표시하기
          setInterval(getUserPos, 3000); // 한번 켜고 실행하면 계속 저장됨
        } else {
          // #5 만약 사용자 위치를 받아오지 못 했다면
          alert("Geolocation is not supported by this browser.");
        }
      }

      // 실행되는 코드 부분
      window.onload = initTmap; // 페이지 로드 시 TMAP 지도 초기화
    </script>
  </body>
</html>
