<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Send Location Data</title>
  </head>
  <body>
    <h1>Send Location Data</h1>
    <form action="/sendData" method="post">
      <label for="latitude">Latitude:</label>
      <input type="text" id="latitude" name="latitude" /><br /><br />
      <label for="longitude">Longitude:</label>
      <input type="text" id="longitude" name="longitude" /><br /><br />
      <input type="submit" value="Send" />
    </form>
  </body>
</html>
