<!-- //#23 T-Map appkey = 5RB8KXlDuB6uLZGhugCqS9OJMViZ73P93dRPbphu -->

<!-- //#16 웹화면 디자인 구성 -->
<!-- //#17 웹화면 기능 구현 
#17-1 [배달 완료] 또는 [수거 완료] 버튼 둘 중 하나만 활성화
#17-2 배달 정보에 위도, 경도 데이터도 추가해서 순서대로 표시하는 기능
#17-3 모든 작업을 완료했을 시, 팝업창을 띄우고 기존 표시 문구를 수정
#17-4 (T-Map API 이용)기존 위도, 경도를 도로명 주소로 변환하여 표시
#17-5 CSV파일로 저장되어 있는 배달 정보(deliveries.csv)를 JavaScript로 불러와서 데이터 이용

#19 버튼을 누르면, RabbitMQ로 메시지 송신
#21 Driver에서 각각 다른 주소로 메시지 송신 (deliveries.csv의 client_id를 기반으로)

#23 Driver의 실시간 위치를 RabbitMQ로 송신 및 지도로 표시
#26 관리자 페이지에서 deliveries.csv 관리하기 위해 구조 변경 - 절대적인 경로에서 (deliveries.csv) 파일 가져올 수 있도록 구조 변경(app_Driver.py)

#33 Driver의 수만큼 다른 웹페이지 실행되도록 & driver_id에 따라 다른 RabbitMQ 주소를 부여받고, 각각 다른 주소로 데이터를 송신하도록

#33-2 드라이버 정보 표로 표시(driver_id, 상태, 다음 도착지)
#33-4각각의 Driver페이지에 driver_id에 맞게 자신에게 할당된 업무만 나타나도록
#33-4 fix: 복귀 해야할 때, 복귀 주소를 alert로 설정 & 주소 및 시간 확인 칸에 복귀 주소와 복귀 시간 표시

#35 고객 화면과 Driver 화면에서 코드 추가 - 모바일 웹 화면으로 확인할 때, 페이지 연결 및 구조가 적절히 보이도록
#42 각 배달원이 무슨 번호의 배터리를 배달 or 수거해야 하는지 표시
#44 배달원 화면에서 지도에 각 배달원이 가야 하는 경로 표시
#46 Driver 화면에 csv파일로부터 데이터를 받아와서 고객이 입력한 차량정보와 상세주소가 나타나도록

#50 임의의 경로 값 넣어서 움직이는 배달기사 표현하기
"/topic/locationUpdate" + driverId 주소와 "/topic/driverLocation" + driverId 주소에 각각 임의의 경로 값 넣기
getDriverPos 함수의 실시간 위치 받아오는 부분에 임의의 경로 값 넣기

-->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Driver 웹화면 구상</title>
    <!-- #23 TMAP API 스크립트 추가 -->
    <script src="https://apis.openapi.sk.com/tmap/vectorjs?version=1&appKey=5RB8KXlDuB6uLZGhugCqS9OJMViZ73P93dRPbphu"></script>

    <!-- #19 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

    <!-- //#17-5 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

    <!-- //#44 -->
    <!-- <script src="https://apis.openapi.sk.com/tmap/js?version=2&appKey=5RB8KXlDuB6uLZGhugCqS9OJMViZ73P93dRPbphu"></script> -->
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=5RB8KXlDuB6uLZGhugCqS9OJMViZ73P93dRPbphu"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <!-- #45 디자인 수정 -->
    <style>
      /* #35 모바일 웹 화면으로 보이도록 */
      body {
        margin: 0;
        font-family: Arial, sans-serif;
      }
      .container {
        display: flex;
        height: 100vh;
      }
      .sidebar {
        width: 300px;
        background-color: #f1f1f1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
      }
      .map {
        flex: 1;
        background-color: #1e88e5;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 36px;
      }
      /* #23 실시간 위치를 지도로 표시 */
      #map_div {
        width: 100%;
        height: 100%;
      }
      .header {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 30px;
      }
      .delivery-info {
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        gap: 10px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
      }
      .time-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
      }
      .time-info div {
        margin-bottom: 10px;
      }
      .item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
        /* border: 3px solid #ff4848; */
        font-size: 1.2em;
      }
      .fixed-text {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
      }
      .buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .button {
        padding: 10px;
        text-align: center;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      .button:active {
        background-color: #0056b3;
      }
      .button:last-child {
        margin-bottom: 0;
      }
      .button:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
      }
      @media (max-width: 600px) {
        .container {
          display: grid;
        }
        .sidebar {
          width: 90%;
          border-radius: 0;
          border: none;
          border-bottom: 3px solid #1a7416;
        }
        .item {
          height: 1vh;
          padding: 3px;
        }
        #arrivalTime {
          height: 0.2px;
          width: 90%;
        }
        #delivery-info {
          height: 10px;
        }
        #time-info {
          height: 1px;
        }
        .fixed-text {
          height: 1vh;
          padding: 3px;
        }
        .map {
          flex: none;
          height: 50vh;
          font-size: 24px;
        }
        .header {
          font-size: 20px;
          margin-bottom: 15px;
        }
        .service-application {
          margin-bottom: 15px;
        }
        .service-detail {
          margin: 5px 0;
          padding: 5px;
        }
        .status-indicators {
          gap: 5px;
        }
        .status-indicator {
          gap: 5px;
          padding: 5px;
        }
        .status-indicator .circle {
          width: 15px;
          height: 15px;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div>
          <div class="header">경로 표시</div>
          <div class="delivery-info">
            <div class="item" id="battery-id"><strong>N번</strong></div>
            <div class="item" id="delivery-type"><strong>배달</strong></div>
          </div>
          <!-- 도착지 표시 -->

          <!-- <div class="fixed-text"><span id="latitude"></span></div> -->
          <!-- <div class="fixed-text"><span id="longitude"></span></div> -->

          <div class="delivery-info">
            <div class="fixed-text" id="arrivalAddress">Address:</div>
          </div>
          <!-- 도착 시간 표시 -->
          <div class="time-info">
            <div class="item" id="arrivalTime"><strong>"시간"</strong></div>
            <div class="fixed-text">까지 도착</div>
          </div>
        </div>
        <div class="buttons">
          <button class="button" id="delivery-complete">
            배달 완료<br />(서비스 시작)
          </button>
          <button class="button" id="pickup-complete">
            수거 완료<br />(서비스 완료)
          </button>
        </div>
      </div>
      <div class="map">
        <div id="map_div">
          <!-- //#23 지도 시각화 -->
        </div>
      </div>
    </div>

    <!-- ========= 기능 구현 코드 ========= -->
    <script>
      /*
            document.addEventListener("DOMContentLoaded", ... 에 대해
            : 안전성을 높이기 위해 DOMContentLoaded 이벤트를 사용하는 것은 좋은 방법이지만, 모든 상황에 필수적인 것은 아님.
            : DOM이 완전히 로드된 후에 각각의 코드들이 실행됨
            - 이 이벤트 리스너는 HTML 문서의 내용이 완전히 로드되고 구문 분석이 완료되었을 때 실행됨.
            - 신속한 인터랙션: 이 이벤트는 모든 이미지, 스타일시트 등이 로드될 때까지 기다리지 않기 때문에, 사용자가 보다 빠르게 페이지와 상호작용할 수 있도록 합니다.
            - 종속성 관리: 스크립트가 특정 DOM 요소에 의존하는 경우, 이 요소들이 접근 가능한 상태에서만 스크립트가 실행됨을 보장합니다.
            */
      document.addEventListener("DOMContentLoaded", function () {
        var stompClient; // #19 RabbitMQ 서버 연결
        var deliveries = []; // #17-5  //#33-4 각각의 Driver페이지에 driver_id에 맞게 자신에게 할당된 업무만 나타나도록
        var currentIndex = 0; // #17-5 현재 데이터 순서를 확인하기 위한 변수
        var marker; //#23 최신 위치에 해당하는 marker가 지도에 1개만 표시되도록

        // #44 지도 표시하기 위한 변수 지정
        var driverMap;
        var routeLayers = [];
        var currentRouteIndex = 0;
        var totalRoute = [];

        // #50 실시간 실제 위치 값 -> 연습할 땐, 임의의 값 넣기 - 2번째 시간대 시연 영상 찍기 위함
        var startLocation; // depot 지점 넣음
        var endLocation; // 1번째 가야 하는 위치 넣음
        var totalSteps = 20;
        var stepIndex = 0;
        var intermediateLocation;

        // =========== #50 1번째 시간대 1 데이터 ===========
        // switch (parseInt("{{ driverId }}")) {
        //   case 1:
        //     startLocation = {
        //       lat: 37.49799541773126,
        //       lng: 127.02764967301626,
        //     }; // depot 지점 넣음
        //     endLocation = { lat: 37.506474, lng: 127.021782 }; // 1번째 가야 하는 위치 넣음
        //     break;
        //   case 2:
        //     startLocation = {
        //       lat: 37.49799541773126,
        //       lng: 127.02764967301626,
        //     }; // depot 지점 넣음
        //     endLocation = { lat: 37.499202, lng: 127.031602 }; // 1번째 가야 하는 위치 넣음

        //     break;
        //   case 3:
        //     startLocation = {
        //       lat: 37.49799541773126,
        //       lng: 127.02764967301626,
        //     }; // depot 지점 넣음
        //     endLocation = { lat: 37.504656, lng: 127.035811 }; // 1번째 가야 하는 위치 넣음

        //     break;
        //   case 4:
        //     startLocation = {
        //       lat: 37.49799541773126,
        //       lng: 127.02764967301626,
        //     }; // depot 지점 넣음
        //     endLocation = { lat: 37.504656, lng: 127.035811 }; // 1번째 가야 하는 위치 넣음
        //     break;
        // }

        // =========== #50 2번째 시간대 2 데이터 ===========
        // switch (parseInt("{{ driverId }}")) {
        //   case 1:
        //     startLocation = {
        //       lat: 37.49799541773126,
        //       lng: 127.02764967301626,
        //     }; // depot 지점 넣음
        //     endLocation = { lat: 37.510109, lng: 127.018976 }; // 1번째 가야 하는 위치 넣음
        //     break;
        //   case 2:
        //     startLocation = {
        //       lat: 37.49799541773126,
        //       lng: 127.02764967301626,
        //     }; // depot 지점 넣음
        //     endLocation = { lat: 37.499202, lng: 127.031602 }; // 1번째 가야 하는 위치 넣음

        //     break;
        //   case 3:
        //     startLocation = {
        //       lat: 37.49799541773126,
        //       lng: 127.02764967301626,
        //     }; // depot 지점 넣음
        //     endLocation = { lat: 37.504656, lng: 127.035811 }; // 1번째 가야 하는 위치 넣음

        //     break;
        //   case 4:
        //     startLocation = {
        //       lat: 37.49799541773126,
        //       lng: 127.02764967301626,
        //     }; // depot 지점 넣음
        //     endLocation = { lat: 37.504656, lng: 127.035811 }; // 1번째 가야 하는 위치 넣음

        //     break;
        // }

        // =========== #50 3번째 시간대 3 데이터 ===========
        // switch (parseInt("{{ driverId }}")) {
        //   case 1:
        //     startLocation = {
        //       lat: 37.49799541773126,
        //       lng: 127.02764967301626,
        //     }; // depot 지점 넣음
        //     endLocation = { lat: 37.493748, lng: 127.023185 }; // 1번째 가야 하는 위치 넣음
        //     break;
        //   case 2:
        //     startLocation = {
        //       lat: 37.49799541773126,
        //       lng: 127.02764967301626,
        //     }; // depot 지점 넣음
        //     endLocation = { lat: 37.504656, lng: 127.030199 }; // 1번째 가야 하는 위치 넣음

        //     break;
        //   case 3:
        //     startLocation = {
        //       lat: 37.49799541773126,
        //       lng: 127.02764967301626,
        //     }; // depot 지점 넣음
        //     endLocation = { lat: 37.493748, lng: 127.023185 }; // 1번째 가야 하는 위치 넣음

        //     break;
        //   case 4:
        //     startLocation = {
        //       lat: 37.49799541773126,
        //       lng: 127.02764967301626,
        //     }; // depot 지점 넣음
        //     endLocation = { lat: 37.493748, lng: 127.034408 }; // 1번째 가야 하는 위치 넣음

        //     break;
        // }

        var driverId = "{{ driverId }}"; //#33 Jinja2 템플릿 구문을 사용하여 변수 값을 직접 받아오기.
        console.log("//#22 Flask로부터 전달받은 driverId 값: " + driverId);

        // 배달 유형 표시 문구
        var batteryId = document.getElementById("battery-id"); // #42 배달원이 배달or수거 하는 배터리의 번호 작성
        var deliveryType = document.getElementById("delivery-type");
        // 위치 데이터 표시 문구    // #17-4 주석처리
        // var latitudeDisplay = document.getElementById("latitude");
        // var longitudeDisplay = document.getElementById("longitude");
        // 도착지 표시 문구 (위도, 경도 -> 도로명주소)
        var arrivalAddressDisplay = document.getElementById("arrivalAddress");
        // 도착 시간 표시 문구
        var arrivalTimeDisplay = document.getElementById("arrivalTime");

        var deliveryCompleteBtn = document.getElementById("delivery-complete");
        var pickupCompleteBtn = document.getElementById("pickup-complete");

        // Sample JSON data - 추후 수리모형 팀에서 받아야 하는 데이터
        //#17-5 CSV 파일 불러와서 데이터로 이용
        // 웹 브라우저에서 로컬 파일 시스템의 절대 경로(예: C:/GitStudy/...)를 직접 참조하는 것은 보안 상의 이유로 허용되지 않음.
        // Papa.parse("/static/deliveries.csv", {
        //   download: true,
        //   header: true,
        //   complete: function (results) {
        //     console.log("//#17-5 CSV 파일 불러오기");
        //     deliveries = results.data;

        //     updateDeliveryInfo(); // #17-5: 위치 이동 - 데이터 로드 후 처음에 한 번 정보를 업데이트
        //   },
        // });
        // #26 구조 변경 - 절대적인 경로에서 파일 가져올 수 있도록
        fetch("/deliveries")
          .then((response) => response.text())
          .then((csvString) => {
            // Assuming the CSV file has headers that match the properties used below
            let results = Papa.parse(csvString, { header: true });
            // deliveries = results.data;
            //#33-4 각각의 Driver페이지에 driver_id에 맞게 자신에게 할당된 업무만 나타나도록
            deliveries = results.data.filter(
              (delivery) => delivery.driver_id === driverId
            );
            updateDeliveryInfo();
          })
          .catch((error) => console.error("Error loading the CSV:", error));

        // #19 RabbitMQ 서버 연결
        function connectToRabbitMQ() {
          // var ws = new WebSocket("ws://127.0.0.1:15674/ws");
          var ws = new WebSocket("ws://192.168.50.178:15674/ws"); // #60 IPv4 주소 설정
          stompClient = Stomp.over(ws);

          stompClient.connect(
            // #60 user로 설정
            // "guest",
            // "guest",
            "user",
            "user",
            function (frame) {
              console.log("Connected: " + frame);
            },
            function (error) {
              console.log("Error connecting to WebSocket: " + error);
            }
          );
        }

        //#19 버튼을 누르면, RabbitMQ로 메시지 송신
        //#33-2 나중에 관리자 페이지로 보내는 RabbitMQ 코드는 endStateToAdminRabbitMQ함수로 옮길 필요 있음
        function sendStateToClientRabbitMQ(message) {
          // #21 Driver에서 각각 다른 주소로 메시지 송신 (deliveries.csv의 client_id를 기반으로)
          var clientId = deliveries[currentIndex].client_id; // 현재 배달의 고객 ID를 가져옵니다.
          var serviceTopicToClient = "/topic/serviceState" + clientId; // 고객 ID에 따라 토픽을 동적으로 결정합니다.
          var serviceTopicToAdmin = "/topic/serviceComplete"; //#30-3 관리자로 메시지 송신- "수거완료"(즉, 서비스 완료)된 데이터에 대해서 고객 ID를 데이터로 보내기

          if (stompClient && stompClient.connected) {
            stompClient.send(serviceTopicToClient, {}, message);
            if (message == "수거완료") {
              stompClient.send(serviceTopicToAdmin, {}, clientId); // #30-3
            }
          } else {
            console.log(
              "Not connected to RabbitMQ. Attempting to reconnect..."
            );
            connectToRabbitMQ();
            setTimeout(function () {
              if (stompClient.connected) {
                stompClient.send(serviceTopicToClient, {}, message);
                if (message == "수거완료") {
                  stompClient.send(serviceTopicToAdmin, {}, clientId); // #30-3
                }
              } else {
                console.log("Failed to reconnect to RabbitMQ.");
              }
            }, 5000);
          }
        }

        //#33-2 관리자 RabbitMQ로 메시지 송신할 데이터 준비 - 도로명 주소
        function ReadyToSendStateToAdminRabbitMQ(
          driverId,
          message,
          latitude,
          longitude
        ) {
          // ===================================
          // if (currentIndex >= deliveries.length - 1) {
          if (currentIndex >= deliveries.length) {
            //#33-4 deliveries가 이제는 각 driverId에 해당하는 업무만 담고 있으니까 if문 범위 수정

            // 모든 업무 완료
            sendStateToAdminRabbitMQ(driverId, "업무 완료", 0, 0);
          } else {
            // 위치 데이터 보내기
            sendStateToAdminRabbitMQ(driverId, message, latitude, longitude);
          }
        }

        //#33-2 관리자 RabbitMQ로 메시지 송신
        function sendStateToAdminRabbitMQ(
          driverId,
          status,
          latitude,
          longitude
        ) {
          var driverStateMessage = JSON.stringify({
            driverId: driverId,
            status: status,
            latitude: latitude,
            longitude: longitude,
          });

          var stateTopicToAdmin = "/topic/driverStatus"; // #33-2 배달기사의 상태를 Administrator.html 로 전송해보자

          if (stompClient && stompClient.connected) {
            stompClient.send(stateTopicToAdmin, {}, driverStateMessage);
            console.log(
              "//#33-2 Driver의 ID, 상태, 다음 도착지 보냄: ",
              driverStateMessage
            );
          } else {
            console.log(
              "//#33-2 Not connected to RabbitMQ. Attempting to reconnect..."
            );
            connectToRabbitMQ();
            setTimeout(function () {
              if (stompClient.connected) {
                stompClient.send(stateTopicToAdmin, {}, driverStateMessage);
              } else {
                console.log("Failed to reconnect to RabbitMQ.");
              }
            }, 5000);
          }
        }

        //#23 Driver의 실시간 위치를 RabbitMQ로 송신 및 지도로 표시
        function sendPosToClientRabbitMQ(lat, lng) {
          var locationData = JSON.stringify({ latitude: lat, longitude: lng });
          var locationTopicToClient = "/topic/locationUpdate" + driverId;
          if (stompClient.connected) {
            stompClient.send(locationTopicToClient, {}, locationData);
            console.log("Sent location data to RabbitMQ:", locationData);
          } else {
            console.log(
              "WebSocker이 연결되어 있지 않음. Attempting to reconnect..."
            );
            connectToRabbitMQ();
            setTimeout(function () {
              if (stompClient.connected) {
                stompClient.send(locationTopicToClient, {}, locationData);
                console.log(
                  "Sent location data to RabbitMQ after reconnecting:",
                  locationData
                );
              } else {
                console.log("Failed to reconnect WebSocket.");
              }
            }, 5000);
          }
        }

        // #33 관리자 페이지로 각 Driver의 위치 데이터 보낼 목적 - RabbitMQ 데이터 송수신
        function sendPosToAdministratorRabbitMQ(lat, lng) {
          var locationData = JSON.stringify({ latitude: lat, longitude: lng });
          var locationTopicToAdmin = "/topic/driverLocation" + driverId;
          if (stompClient.connected) {
            stompClient.send(locationTopicToAdmin, {}, locationData);
            console.log("Sent location data to RabbitMQ:", locationData);
            console.log("//#33 locationTopicToAdmin: " + locationTopicToAdmin);
          } else {
            console.log(
              "WebSocker이 연결되어 있지 않음. Attempting to reconnect..."
            );
            connectToRabbitMQ();
            setTimeout(function () {
              if (stompClient.connected) {
                stompClient.send(locationTopicToAdmin, {}, locationData);
                console.log(
                  "Sent location data to RabbitMQ after reconnecting:",
                  locationData
                );
              } else {
                console.log("Failed to reconnect WebSocket.");
              }
            }, 5000);
          }
        }

        //#23 Driver의 위치 얻기
        function getDriverPos() {
          // #50 실시간 실제 위치 값 -> 연습할 땐, 임의의 값 넣기
          navigator.geolocation.getCurrentPosition(function (position) {
            var userLocation = new Tmapv3.LatLng(
              position.coords.latitude,
              position.coords.longitude
            );

            // 이미 marker가 있는지 확인
            if (marker) {
              // 이미 존재한다면, 그냥 기존에 있던 마커의 위치만 바꾸기
              marker.setPosition(userLocation);
            } else {
              // 이미 존재하는 marker가 없다면, marker를 새로 생성
              // marker = new Tmapv3.Marker({
              marker = new Tmapv2.Marker({
                position: userLocation,
                map: driverMap,
                icon: "/static/image/ElectricTruck.png",
              });
            }

            driverMap.setCenter(userLocation);
            console.log("//#23 얻은 위치 데이터: ", userLocation);
            sendPosToClientRabbitMQ(
              position.coords.latitude,
              position.coords.longitude
            );
            // #33
            // // #33-1 임의로 Driver마다 다른 위치를 보내기 위함
            // if (driverId == 1) {
            sendPosToAdministratorRabbitMQ(
              position.coords.latitude,
              position.coords.longitude
            );
            // }
            // if (driverId == 2) {
            //   console.log("//#33-1 ");
            //   sendPosToAdministratorRabbitMQ(
            //     position.coords.latitude + 0.01,
            //     position.coords.longitude
            //   );
            // }
            // if (driverId == 3) {
            //   console.log("//#33-1 ");
            //   sendPosToAdministratorRabbitMQ(
            //     position.coords.latitude,
            //     position.coords.longitude + 0.01
            //   );
            // }
          });
        }

        // #50 위치 계산 함수
        // function calculateIntermediateLocation(start, end, step, totalSteps) {
        //   return {
        //     lat: start.lat + (end.lat - start.lat) * (step / totalSteps),
        //     lng: start.lng + (end.lng - start.lng) * (step / totalSteps),
        //   };
        // }

        // #50 실시간 실제 위치 값 -> 연습할 땐, 임의의 값 넣기
        // function getTemporaryDriverPos() {
        //   if (stepIndex <= totalSteps) {
        //     intermediateLocation = calculateIntermediateLocation(
        //       startLocation,
        //       endLocation,
        //       stepIndex,
        //       totalSteps
        //     );

        //     stepIndex++;
        //   } else {
        //     clearInterval(positionInterval);
        //   }

        //   var userLocation = new Tmapv2.LatLng(
        //     intermediateLocation.lat,
        //     intermediateLocation.lng
        //   );
        //   // 이미 marker가 있는지 확인
        //   if (marker) {
        //     // 이미 존재한다면, 그냥 기존에 있던 마커의 위치만 바꾸기
        //     marker.setPosition(userLocation);
        //   } else {
        //     // 이미 존재하는 marker가 없다면, marker를 새로 생성
        //     marker = new Tmapv2.Marker({
        //       position: userLocation,
        //       map: driverMap,
        //       icon: "/static/image/ElectricTruck.png",
        //     });
        //   }

        //   driverMap.setCenter(userLocation);
        //   console.log("//#50 표시하는 임의의 위치 데이터: ", userLocation);
        //   sendPosToClientRabbitMQ(
        //     intermediateLocation.lat,
        //     intermediateLocation.lng
        //   );
        //   sendPosToAdministratorRabbitMQ(
        //     intermediateLocation.lat,
        //     intermediateLocation.lng
        //   );
        // }

        // #50 각 Driver마다 다른 임의의 경로를 가지도록
        // function setTemporaryDriverRoute(id) {
        //   switch (id) {
        //     case 1:
        //       startLocation = {
        //         lat: 37.49799541773126,
        //         lng: 127.02764967301626,
        //       }; // depot 지점 넣음
        //       endLocation = { lat: 37.510109, lng: 127.018976 }; // 1번째 가야 하는 위치 넣음
        //       break;
        //     case 2:
        //       startLocation = {
        //         lat: 37.49799541773126,
        //         lng: 127.02764967301626,
        //       }; // depot 지점 넣음
        //       endLocation = { lat: 37.499202, lng: 127.031602 }; // 1번째 가야 하는 위치 넣음

        //       break;
        //     case 3:
        //       startLocation = {
        //         lat: 37.49799541773126,
        //         lng: 127.02764967301626,
        //       }; // depot 지점 넣음
        //       endLocation = { lat: 37.504656, lng: 127.035811 }; // 1번째 가야 하는 위치 넣음

        //       break;
        //     case 4:
        //       startLocation = {
        //         lat: 37.49799541773126,
        //         lng: 127.02764967301626,
        //       }; // depot 지점 넣음
        //       endLocation = { lat: 37.504656, lng: 127.035811 }; // 1번째 가야 하는 위치 넣음

        //       break;
        //   }
        // }
        //#23 Papa.parse 기존 위치 -> 맨 위로 이동

        // #33-4 특정 위도, 경도 값을 받으면, 도로명주소를 콜백으로 뱉음

        function getAddress(latitude, longitude, callback) {
          //
          var xhr = new XMLHttpRequest();
          xhr.open(
            "GET",
            `https://apis.openapi.sk.com/tmap/geo/reversegeocoding?version=1&lat=${latitude}&lon=${longitude}&appKey=5RB8KXlDuB6uLZGhugCqS9OJMViZ73P93dRPbphu`
          );
          xhr.onload = function () {
            if (xhr.status === 200) {
              var response = JSON.parse(xhr.responseText);
              var address = response.addressInfo.fullAddress;
              if (callback) {
                callback(address); // 변환된 주소를 콜백 함수로 전달
              }
            } else {
              console.error("Failed to fetch address");
              if (callback) {
                callback(null);
              }
            }
          };
          xhr.onerror = function () {
            console.error("Error during the network request.");
            if (callback) {
              callback(null);
            }
          };
          xhr.send();
        }

        //#17-4 (TMAP API 이용) 기존 위도, 경도를 "도로명 주소"로 변환하고, 표시
        function updateAddress(latitude, longitude) {
          var xhr = new XMLHttpRequest();
          //#17-4 개인의 TMap API KEY 입력
          xhr.open(
            "GET",
            `https://apis.openapi.sk.com/tmap/geo/reversegeocoding?version=1&lat=${latitude}&lon=${longitude}&appKey=5RB8KXlDuB6uLZGhugCqS9OJMViZ73P93dRPbphu`
          );
          xhr.onload = function () {
            if (xhr.status === 200) {
              var response = JSON.parse(xhr.responseText);
              var address = response.addressInfo.fullAddress;

              // #46 Driver 화면에 csv파일로부터 데이터를 받아와서 고객이 입력한 차량정보와 상세주소가 나타나도록
              // arrivalAddressDisplay.innerText = address;
              arrivalAddressDisplay.innerText =
                address +
                "\n" +
                "\n" +
                deliveries[currentIndex].detail_address +
                "\n" +
                "\n 차량 번호: " +
                deliveries[currentIndex].car_num;

              //   console.log("//#17-4 도로명 주소로 변환 및 표시");

              // #33-2 여기서 RabbitMQ 송신할까?
            } else {
              console.error("Failed to fetch address");
            }
          };
          xhr.onerror = function () {
            console.error("Error during the network request.");
          };
          xhr.send();
        }

        // 배달 유형(delivery_type), 위치 데이터(위도, 경도) 표시 문구 업데이트 & 버튼 상태 업데이트 함수
        function updateDeliveryInfo() {
          console.log("//#17-5 updateDeliveryInfo 함수 실행");
          if (deliveries.length === 0) {
            alert("//#33-4 이 Driver에게는 어떤 배달도 할당되지 않음!");
            return;
          }
          //========== #17-3 모든 배달 정보를 마치면, 팝업창과 함께 두 버튼 모두 비활성화
          // if (currentIndex >= deliveries.length - 1) {
          if (currentIndex >= deliveries.length) {
            //#33-4 deliveries가 이제는 각 driverId에 해당하는 업무만 담고 있으니까 if문 범위 수정
            // 두 버튼 모두 비활성화
            deliveryCompleteBtn.disabled = true;
            pickupCompleteBtn.disabled = true;

            // alert("복귀하세요!!: " + "경기도 용인시 처인구 모현읍 왕산리 131"); // 작업 완료 팝업
            // #33-4 fix: 각 Driver의 0번째 주소(=즉, Depot)를 도로명 주소로 변환해서 나타내기
            // 각 Driver의 마지막 경로 지점을 drawroute JSON 파일에서 가져옴
            fetchRouteData(driverId, function (routeData) {
              var lastRoutePoint = routeData[routeData.length - 1];
              getAddress(
                lastRoutePoint.latitude,
                lastRoutePoint.longitude,
                function (address) {
                  if (address) {
                    arrivalAddressDisplay.innerText = address; // 복귀 지점 표시
                    arrivalTimeDisplay.innerText = lastRoutePoint.time; // 복귀 시간 표시
                    alert("복귀하세요!!: " + address);
                  } else {
                    alert("복귀하세요!!: 주소 변환 실패");
                  }
                }
              );
            });

            // (delivery_type & 위치 데이터) 표시 부분 업데이트
            batteryId.innerText = ""; // #42 배달 모두 마치면, null 값 표시
            deliveryType.innerText = "작업 완료";

            // #17-4 주석처리
            // latitudeDisplay.innerText = "";
            // longitudeDisplay.innerText = "";
            // arrivalAddressDisplay.innerText = "";  // #33-4 fix: updateDeliveryInfo 함수에서 depot 장소를 보여줌
            // arrivalTimeDisplay.innerText = ""; // #33-4 fix: updateDeliveryInfo 함수에서 depot 장소를 보여줌
            // console.log("//#17-4 작업 완료 후 문구 표시");

            return; //#33-4 updateDeliveryInfo 함수 탈출
          } else {
            //#33-4 수행해야 하는 배달이 아직 완료되지 않았다면 다음 데이터 표시
            //#17-4 위치 표시 - (TMAP API 이용) 기존 위도, 경도를 "도로명 주소"로 변환하고, 표시
            updateAddress(
              deliveries[currentIndex].latitude,
              deliveries[currentIndex].longitude
            );
            arrivalTimeDisplay.innerText = deliveries[currentIndex].time;

            //#33-4 위치 이동: updateDeliveryInfo함수 시작점에서 else 문 안으로
            batteryId.innerText =
              deliveries[currentIndex].battery_id + "번 배터리"; // #42 각 배달원이 무슨 번호의 배터리를 배달 or 수거해야 하는지 표시
            deliveryType.innerText = deliveries[currentIndex].delivery_type;
            // #17-4 주석처리
            //   latitudeDisplay.innerText = deliveries[currentIndex]["location"][0];
            //   longitudeDisplay.innerText = deliveries[currentIndex]["location"][1];

            if (deliveryType.innerText.trim() === "배달") {
              deliveryCompleteBtn.disabled = false;
              pickupCompleteBtn.disabled = true;
            } else {
              deliveryCompleteBtn.disabled = true;
              pickupCompleteBtn.disabled = false;
            }
          }
        }

        // #33-4 fix: 각 Driver의 0번째 주소(=즉, Depot)를 도로명 주소로 변환해서 나타내기
        function getFirstRoutePoint(callback) {
          var driverId = "{{ driverId }}";
          var url = `/drawroute`;
          fetch(url)
            .then((response) => response.json())
            .then((data) => {
              var firstRoutePoint = data[driverId][0]; // 첫 번째 경로 지점
              callback(firstRoutePoint);
            })
            .catch((error) => console.error("Error loading the JSON:", error));
        }

        // // 초기 정보 표시 및 업데이트  // #17-5 csv 파일 가져온 후 실행되도록 Papa.parse 함수 안에 넣기
        // updateDeliveryInfo();

        // #44 배달원 화면에서 지도에 각 배달원이 가야 하는 경로 표시 - 여기부터
        // function fetchRouteData(callback) {
        //   // var url = `/drawroute`;
        //   // var jsonFile = `drawroute_E_01.json`;
        //   fetch("/drawroute")
        //     .then((response) => response.json())
        //     .then((data) => callback(data))
        //     .catch((error) => console.error("Error loading the JSON:", error));
        // }
        function fetchRouteData(driverId, callback) {
          var url = `/drawroute`;
          fetch(url)
            .then((response) => response.json())
            .then((data) => {
              console.log("//#44 Fetched route data: ", data); // 데이터 확인을 위한 콘솔 출력
              callback(data[driverId]); // 특정 driverId의 경로 데이터만 전달
            })
            .catch((error) => console.error("Error loading the JSON:", error));
        }

        function drawRoute(driverRoutes) {
          if (!driverMap) {
            console.error("Map is not initialized");
            return;
          }

          totalRoute = [];
          routeLayers.forEach((layer) => layer.setMap(null));
          routeLayers = [];

          var start = driverRoutes[currentRouteIndex];
          var end = driverRoutes[currentRouteIndex + 1];

          if (!start || !end) {
            console.error("Start or end location is missing");
            return;
          }

          var url = `https://apis.openapi.sk.com/tmap/routes?version=1&format=json&appKey=5RB8KXlDuB6uLZGhugCqS9OJMViZ73P93dRPbphu&startX=${start.longitude}&startY=${start.latitude}&endX=${end.longitude}&endY=${end.latitude}&reqCoordType=WGS84GEO&resCoordType=WGS84GEO&searchOption=0`;

          fetch(url)
            .then((response) => response.json())
            .then((data) => {
              if (data.features) {
                var features = data.features;
                var routePath = [];

                features.forEach(function (feature) {
                  if (feature.geometry.type === "LineString") {
                    feature.geometry.coordinates.forEach(function (coord) {
                      var latLng = new Tmapv2.LatLng(coord[1], coord[0]);
                      routePath.push(latLng);
                      totalRoute.push(latLng);
                    });
                  }
                });

                var polyline = new Tmapv2.Polyline({
                  path: routePath,
                  strokeColor: "#ff0000",
                  strokeWeight: 6,
                  map: driverMap,
                });

                routeLayers.push(polyline);

                var marker = new Tmapv2.Marker({
                  position: new Tmapv2.LatLng(end.latitude, end.longitude),
                  map: driverMap,
                  icon: "/static/image/redMarker.png",
                  title: `Stop ${currentRouteIndex + 2}`,
                });

                routeLayers.push(marker);

                driverMap.setCenter(
                  new Tmapv2.LatLng(start.latitude, start.longitude)
                );
              } else {
                console.error("Error fetching route: No features found");
              }
            })
            .catch((error) => console.error("Error fetching route:", error));
        }

        function showNextRoute() {
          var driverId = "{{ driverId }}";
          fetchRouteData(driverId, function (routeData) {
            if (currentRouteIndex < routeData.length - 1) {
              drawRoute(routeData);
              currentRouteIndex++;
            } else {
              alert("모든 경로를 완료했습니다.");
            }
          });
        }
        // #44 배달원 화면에서 지도에 각 배달원이 가야 하는 경로 표시 - 여기까지
        //#23 T-Map 시작 & 웹소켓 연결
        function initTmap() {
          // map = new Tmapv3.Map("map_div", {
          // center: new Tmapv3.LatLng(37.5665, 126.978),
          driverMap = new Tmapv2.Map("map_div", {
            center: new Tmapv2.LatLng(37.5665, 126.978),
            width: "100%",
            height: "100%",
            zoom: 16,
          });

          // #44 배달원 화면에서 지도에 각 배달원이 가야 하는 경로 표시
          var driverId = "{{ driverId }}";
          fetchRouteData(driverId, function (routeData) {
            if (routeData.length > 1) {
              drawRoute(routeData);
            } else {
              console.error("Insufficient route data to display");
            }
          });

          // connectToRabbitMQ(); // -> script 마지막 부분에 실행함
          setInterval(getDriverPos, 1000); // Get User Position every 1 seconds // 1초에 한번씩 위치 받기 -> 지도 중심 맞추기

          // setInterval(getTemporaryDriverPos, 1000); // Get User Position every 1 seconds // 1초에 한번씩 위치 받기 -> 지도 중심 맞추기  // #50 임의의 경로 값 표시
          // setTimeout(() => {
          //   positionInterval = setInterval(getTemporaryDriverPos, 500); // 0.5초 간격으로 위치 업데이트
          // }, 5000); // #50 쉽게 촬영하기 위해 5초 지연 두고 움직이기 시작
        }

        showNextRoute();
        // [배달 완료] 및 [수거 완료] 버튼에 이벤트 리스너 추가
        deliveryCompleteBtn.addEventListener("click", function () {
          sendStateToClientRabbitMQ("배달완료"); // #19 버튼을 누르면, RabbitMQ로 메시지 송신

          showNextRoute(); // #44 버튼을 누르면 다음 이동 경로 표시

          // if (currentIndex < deliveries.length - 1) {
          if (currentIndex < deliveries.length) {
            //#33-4 deliveries가 이제는 각 driverId에 해당하는 업무만 담고 있으니까 if문 범위 수정

            currentIndex++; // 다음 데이터 (delivery_type, 위치 데이터) 표시
            updateDeliveryInfo();

            //#33-4 아직 업무가 남아있다면
            if (currentIndex < deliveries.length) {
              // #33-2 관리자 페이지 RabbitMQ로 메시지 송신
              ReadyToSendStateToAdminRabbitMQ(
                driverId,
                "배달완료",
                deliveries[currentIndex].latitude,
                deliveries[currentIndex].longitude
              );
            } else {
              //#33-4 남아있는 업무가 없다면 - 위도, 경도 가져올 거 없으니까 0,0 으로 설정
              ReadyToSendStateToAdminRabbitMQ(driverId, "배달완료", 0, 0);
            }
          }
        });

        pickupCompleteBtn.addEventListener("click", function () {
          sendStateToClientRabbitMQ("수거완료"); // #19 버튼을 누르면, RabbitMQ로 메시지 송신

          showNextRoute(); // #44 버튼을 누르면 다음 이동 경로 표시

          // if (currentIndex < deliveries.length - 1) {
          if (currentIndex < deliveries.length) {
            //#33-4 deliveries가 이제는 각 driverId에 해당하는 업무만 담고 있으니까 if문 범위 수정

            currentIndex++; // 다음 데이터 (delivery_type, 위치 데이터) 표시
            updateDeliveryInfo();

            //#33-4 아직 업무가 남아있다면
            if (currentIndex < deliveries.length) {
              // #33-2 관리자 페이지 RabbitMQ로 메시지 송신
              ReadyToSendStateToAdminRabbitMQ(
                driverId,
                "수거완료",
                deliveries[currentIndex].latitude,
                deliveries[currentIndex].longitude
              );
            } else {
              //#33-4 남아있는 업무가 없다면 - 위도, 경도 가져올 거 없으니까 0,0 으로 설정
              ReadyToSendStateToAdminRabbitMQ(driverId, "수거완료", 0, 0);
            }
          }
        });

        // ================ 실행 코드들 ================
        connectToRabbitMQ(); // 웹 페이지가 로드될 때 RabbitMQ에 연결
        window.onload = initTmap; // Initialize TMap on window load
      });
    </script>
  </body>
</html>
